
.box{
  width: 100%;
  height: auto;
  position: relative;
  min-height: 250px;
  background: #e4f1f1;
  border-radius: 15px;
  box-shadow: #efefef 0 0 10px;
  cursor: pointer;
  transition: .3s;
  padding: 20px;
  display: grid;
  place-items: center;

  &:hover{
    box-shadow: #bebebe 0 0 20px;
  }

  span{
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #2a2f34;
    position: relative;
    z-index: 50;
  }


  &.active{
    border: solid #0d6efd 8px;

    &:hover{
      border: solid #0f56c4 8px;
    }
  }
}

a{
  .box{
    height: 100% !important;
  }
}