

.main{
  height: $heightWithountNavbar;
  overflow: hidden;

  &.opened:not(&[data-questbar]){
    .content--map{
      max-height: 50vh;
    }
  }

  .content{
    &--map{
      transition: $transition-time-def;

      height: 100%;
      max-height: 100%;

      .map{
        height: 100% !important;
      }
    }

    &--main{
      transition: $transition-time-def;

      height: 100%;
      max-height: calc(50vh - 110px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}



[data-questbar="overlay"]{
  .content--main{
    position: fixed !important;
    inset: 0;
    z-index: 10;
    background: white;
    max-height: 100vh;
  }

  &.opened{
    .content--map{
      max-height: $heightWithountNavbar !important;
    }
  }
}


[data-questbar="right"], [data-questbar="left"]{
  display: flex !important;
  width: 100vw;
  .content--map{
    width: 100%;
    max-width: 100vw;
  }
  .content--main{
    width: 100%;
    max-width: 0;
    transition: .3s;
  }
  &.opened{
    .content--main{
      max-height: $heightWithountNavbar;
      max-width: 45vw;
    }
  }
}

[data-questbar="left"]{
  .content--main{
    order: 1;
  }
  .content--map{
    order: 2;
  }
}
