.navbar{
  bottom: 0;
  left: 0;
  right: 0;
  transition: .3s;
  position: fixed !important;
  z-index: 99;
  min-height: $navbar-height;
  display: grid !important;
  grid-auto-flow: column;
  


  @media (max-width: 767px){
      padding-inline: 10px !important;
    min-height: 70px;
  }

  &:not([data-navbar="top"]){
    .toggleContent{
      bottom: 0 !important;
      left: 110% !important;
      top: auto !important;
    }
  }




  &--left, &--right{
    display: grid;
    place-items: center;
    text-align: center;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 100%;
  }
}




[data-navbar="top"]{
  bottom: auto !important;
  top: 0;

  .toggleContent{
    top: 100% !important;
  }
}

