.navbar{
  min-height: 100px;

  display: grid !important;
  grid-auto-flow: column;


  &--left, &--right{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    height: 100%;
  }
}

