*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg{
  transition: .3s;
  width: 30px;
  height: auto;
  aspect-ratio: 1;
}

.hover-rotate:hover{
  transform: rotate(-90deg);
}

path{
  transition: .3s;
}


svg:hover path{
  fill: #d33e3e;
}

